$icon-font-path: "../fonts/vendor/bootstrap/";
@import "vendor/bootstrap/_bootstrap.scss";

body {
  margin-top: 60px;
}

.builder-colors {
  ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    li {
      display: inline;
      img {
        width: 50px;
        height: 50px;
        margin: 5px;
      }
    }
  }
}

.builder-card-container {
  border: 1px solid black;
  #previous-page > span {
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 30px;
  }
  #next-page > span {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 30px;
  }

  .builder-tbl-card {
    margin: 0 30px 0 30px;
    td {
      img {
        width: 200px;
        height: 277px;
        padding: 10px;
      }
    }
  }
}
